h1.checkout {
    padding: 2em 1em 1em 1em;

}

.basket-info {
    display: grid;
    place-items: center;

}

.basket-info p {
    text-decoration: none;
    color: black;
}

.checkout-btn {
    padding: 1.5em 3em;
    border-radius: 5px;
    border: none;
    background-color: var(--background);
    color: white;
    text-align: center;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: red;
}

.btn-div {
    display: flex;
    justify-content: center;
}
